<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Billie Payment After Delivery</label>
    <label lang="de">Billie Rechnungskauf</label>

    <version>2.0.5</version>
    <copyright>(c) Billie GmbH</copyright>
    <author>Billie GmbH</author>
    <link>https://www.billie.io/rechnungskauf/</link>
    <license>proprietary</license>
    <compatibility minVersion="5.5.0"/>

    <description lang="de"><![CDATA[
        <div><h1>B2B-Rechnungskauf für das 21. Jahrhundert</h1>
        <p>Jetzt durchstarten mit der beliebtesten Zahlungsart für B2B-Shops: Sofortige Auszahlung für Sie, 30 Tage Zahlungsziel für Ihre Kunden. Whitelabel Mahnprozess & 100% Ausfallschutz immer inklusive</p>
        <br />
        <h2>Maximale Akzeptanzrate</h2>
        <p>Mit Akzeptanzraten von 85%+ bietet Billies branchenführender Scoring-Algorithmus einfachen und sicheren Rechnungskauf für nahezu alle Ihrer Kunden – ohne jeglichen manuellen Aufwand</p>
        <br />
        <h2>Operative Entlastung</h2>
        <p>Entlasten Sie Ihre Buchhaltung von zeitraubenden Aufgaben. Billie kümmert sich um Zahlungszuordnung und Mahnwesen – diskret im Hintergrund und mit abgestimmter Mahnstrecke</p>
        <br />
        <h2>Hohe B2B-Einkaufslinien</h2>
        <p>Überzeugen Sie Ihre Geschäftskunden auch bei großen Warenkörben mit ihrer bevorzugten Zahlungsart – durch Einkaufslinien von bis zu 25.000 EUR, auch für Neukunden</p>
        <br />
        <h2>Liquidität & Ausfallschutz</h2>
        <p>Reduzieren Sie Ihren Working Capital Bedarf durch Auszahlung aller Bestellungen am nächsten Werktag – unabhängig davon wann Ihre Kunden bezahlen</p>
        <br />
        <h2>Günstiger All-Inclusive-Service</h2>
        <p>Ein Preis und alles drin: Zur günstigen Festgebühr im Skontobereich kümmert sich Billie um die gesamte Rechnungsabwicklung – so können Sie sich voll auf Ihr Kerngeschäft konzentrieren.</p>
        </div>
    ]]></description>

    <description><![CDATA[
        <div>
        <h1>B2B-Invoicing</h1>
        <p>Get started now with the most popular payment method for B2B shops: Guaranteed payout for you, 30 days payment term for your customers. Whitelabel dunning process & 100% default protection always included.</p>
        </div>
    ]]></description>

    <changelog version="2.0.6">
        <changes lang="en"><![CDATA[
            <ul>
                <li>Fix saving/loading authorized debtor/shipping-address</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Fehlerbehebung: Laden/Speichern der autorisierten Bestelldaten</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="2.0.5">
        <changes lang="en"><![CDATA[
            <ul>
                <li>Fix loading customer data from session</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Fehlerbehebung: Laden der Kundendaten aus der aktuellen Sitzung</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="2.0.4">
        <changes lang="en"><![CDATA[
            <ul>
                <li>Replace Billie logo in checkout</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Billie Logo im Checkout ersetzen</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="2.0.3">
        <changes lang="en"><![CDATA[
            <ul>
                <li>Fix: prevent displaying payment method for B2C customer if they are ordering as guest</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Fehlerbehebung: Verstecke die Zahlungsart vor B2C Kunden, wenn diese als Gäste bestellen</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="2.0.2">
        <changes lang="en"><![CDATA[
            <ul>
                <li>remove filter attribute component which does not have any effect anymore (fixes an issue, that the attributes-management does not load properly)</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Fehlerbehebung: Freitextfeld-Verwaltung konnte nicht geladen werden (Entfernen von alter Funktionalität)</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="en"><![CDATA[
            <ul>
                <li>Fix: Response sending of ajax call on saving updated address (Widget)</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Fehlerbehebung: Senden der AJAX-Response während der Adressaktualisierung (Widget)</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="en"><![CDATA[
            <ul>
                <li>integration of new SDK</li>
                <li>reworked module</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Integration neues SDK</li>
                <li>Modul großflächig überarbeitet</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="en"><![CDATA[
            <ul>
                <li>added cronjob to watch the order status changes and send ship/cancel notification to the Billie gateway</li>
                <li>added order attributes to insert external invoice-number/invoice-url in admin</li>
            </ul>
        ]]></changes>
        <changes lang="de"><![CDATA[
            <ul>
                <li>Es wurde ein Cronjob hinzugefügt der die Status der Bestellungen überwacht und Aktivierungen/Stornierungen automatisch an das Billie Gateway sendet.</li>
                <li>Freiextfelder hinzugefügt, um die externe Rechnungsnummer/Rechnungs-URL im Admin zu pflegen</li>
            </ul>
        ]]></changes>
    </changelog>

    <changelog version="1.1">
        <changes lang="en">moved sdk from composer-dependencies to plugin</changes>
        <changes>SDK von Composer-Abhängigkeiten in das Plugin verschoben</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes>first release</changes>
    </changelog>
</plugin>
