<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Billie Payment After Delivery</label>
    <label lang="de">Billie Payment After Delivery</label>

    <version>1.0.3</version>
    <copyright>(c) Billie GmbH</copyright>
    <author>Billie GmbH</author>
    <link>https://www.billie.io/rechnungskauf/</link>
    <license>proprietary</license>

    <description lang="de"><![CDATA[
        <div style="text-align: center">
            <img src="/custom/plugins/BilliePayment/Resources/views/backend/_resources/images/billie_logo_vertical.png" width="69" height="96">
        </div>
        <br />
        <div style="text-align: center"><h1>B2B-Rechnungskauf für das 21. Jahrhundert</h1>
        <p>Jetzt durchstarten mit der beliebtesten Zahlungsart für B2B-Shops: Sofortige Auszahlung für Sie, 30 Tage Zahlungsziel für Ihre Kunden. Whitelabel Mahnprozess & 100% Ausfallschutz immer inklusive</p>
        <br />
        <h2>Maximale Akzeptanzrate</h2>
        <p>Mit Akzeptanzraten von 85%+ bietet Billies branchenführender Scoring-Algorithmus einfachen und sicheren Rechnungskauf für nahezu alle Ihrer Kunden – ohne jeglichen manuellen Aufwand</p>
        <br />
        <h2>Operative Entlastung</h2>
        <p>Entlasten Sie Ihre Buchhaltung von zeitraubenden Aufgaben. Billie kümmert sich um Zahlungszuordnung und Mahnwesen – diskret im Hintergrund und mit abgestimmter Mahnstrecke</p>
        <br />
        <h2>Hohe B2B-Einkaufslinien</h2>
        <p>Überzeugen Sie Ihre Geschäftskunden auch bei großen Warenkörben mit ihrer bevorzugten Zahlungsart – durch Einkaufslinien von bis zu 25.000 EUR, auch für Neukunden</p>
        <br />
        <h2>Liquidität & Ausfallschutz</h2>
        <p>Reduzieren Sie Ihren Working Capital Bedarf durch Auszahlung aller Bestellungen am nächsten Werktag – unabhängig davon wann Ihre Kunden bezahlen</p>
        <br />
        <h2>Günstiger All-Inclusive-Service</h2>
        <p>Ein Preis und alles drin: Zur günstigen Festgebühr im Skontobereich kümmert sich Billie um die gesamte Rechnungsabwicklung – so können Sie sich voll auf Ihr Kerngeschäft konzentrieren.</p>
        </div>
    ]]></description>

    <description lang="en"><![CDATA[
        <div style="text-align: center">
            <img src="/custom/plugins/BilliePayment/Resources/views/backend/_resources/images/billie_logo_vertical.png" width="69" height="96">
        </div>
        <br />
        <div style="text-align: center">
        <h1>B2B-Invoicing</h1>
        <p>Get started now with the most popular payment method for B2B shops: Guaranteed payout for you, 30 days payment term for your customers. Whitelabel dunning process & 100% default protection always included.</p>
        </div>
    ]]></description>

    <compatibility minVersion="5.5.0"/>

    <changelog version="1.0.3">
        <changes lang="en">moved sdk from composer-dependencies to plugin</changes>
        <changes lang="de">SDK von Composer-Abhängigkeiten in das Plugin verschoben</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="en">first release</changes>
        <changes lang="de">Erstveröffentlichung</changes>
    </changelog>
</plugin>
