<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean" scope="locale">
            <name>billiepayment/mode/sandbox</name>
            <label lang="de">API Sandbox</label>
            <label lang="en">API Sandbox</label>
            <value>false</value>
            <description lang="de">Aktivieren des API Sandbox Modus</description>
            <description lang="en">Activate the API Sandbox mode.</description>
        </element>

        <element required="true" type="text" scope="locale">
            <name>billiepayment/credentials/client_id</name>
            <label lang="de">Client-ID</label>
            <label lang="en">Client id</label>
            <description lang="de">Ihr Billie Client-ID</description>
            <description lang="en">Your Billie client-id.</description>
        </element>

        <element required="true" type="text" scope="locale">
            <name>billiepayment/credentials/client_secret</name>
            <label lang="de">Client-Secret</label>
            <label lang="en">Client secret</label>
            <description lang="de">Ihr Billie Client-Secret</description>
            <description lang="en">Your Billie client-secret.</description>
        </element>
    </elements>
</config>
