<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean" scope="locale">
            <name>billiepayment/mode/sandbox</name>
            <label lang="de">API Sandbox</label>
            <label lang="en">API Sandbox</label>
            <value>false</value>
            <description lang="de">Aktivieren des API Sandbox Modus</description>
            <description lang="en">Activate the API Sandbox mode.</description>
        </element>

        <element required="true" type="text" scope="locale">
            <name>billiepayment/credentials/client_id</name>
            <label lang="de">Client-ID</label>
            <label lang="en">Client id</label>
            <description lang="de">Ihr Billie Client-ID</description>
            <description lang="en">Your Billie client-id.</description>
        </element>

        <element required="true" type="text" scope="locale">
            <name>billiepayment/credentials/client_secret</name>
            <label lang="de">Client-Secret</label>
            <label lang="en">Client secret</label>
            <description lang="de">Ihr Billie Client-Secret</description>
            <description lang="en">Your Billie client-secret.</description>
        </element>

        <element type="boolean" scope="locale">
            <name>billiepayment/override_address</name>
            <label lang="de">Überschreibe Adresse</label>
            <label lang="en">Override address</label>
            <value>false</value>
            <description lang="de">Wenn aktiviert, wird die Adresse im Kundenaccount überschrieben. Wenn deaktivert, wird lediglich die Adresse in der Bestellung überschrieben.</description>
            <description lang="en">If enabled, the address in the customer account got overridden. If disabled, Billie will only override the address in the order.</description>
        </element>

        <element required="true" type="select" scope="locale">
            <name>billiepayment/salutation/fallback</name>
            <label lang="de">Fallback-Anrede</label>
            <label lang="en">Fallback salutation</label>
            <description lang="de">Bitte geben Sie eine Fallback Anrede an. (Diese wird verwendet, wenn die korrekte Anrede nicht ermittelt werden kann)</description>
            <description lang="en">Please select a fallback salutation. (It will be used, if the correct salutation can be not found)</description>
            <store>
                <option>
                    <value>m</value>
                    <label lang="de">Herr</label>
                    <label lang="en">Mr.</label>
                </option>
                <option>
                    <value>f</value>
                    <label lang="de">Frau</label>
                    <label lang="en">Ms.</label>
                </option>
            </store>
        </element>

        <element required="true" type="textarea" scope="locale">
            <name>billiepayment/salutation/male</name>
            <label lang="de">Anreden Herren</label>
            <label lang="en">Salutations males</label>
            <description lang="de">Bitte geben Sie die Anreden ein, welche in Ihrem Shop für die Herren gepflegt sind. (einschließlich Übersetzungen)</description>
            <description lang="en">Please insert all salutations which are setup for males. (incl. the translation for them)</description>
        </element>

        <element required="true" type="textarea" scope="locale">
            <name>billiepayment/salutation/female</name>
            <label lang="de">Anreden Frauen</label>
            <label lang="en">Salutations females</label>
            <description lang="de">Bitte geben Sie die Anreden ein, welche in Ihrem Shop für die Frauen gepflegt sind. (einschließlich Übersetzungen)</description>
            <description lang="en">Please insert all salutations which are setup for females. (incl. the translation for them)</description>
        </element>
    </elements>
</config>
