<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>apikey</name>
            <label lang="de">API-Schlüssel</label>
            <label lang="en">API-Key</label>
            <value>AAA-BBB-CCC</value>
            <description lang="de">Ihr billie.io API-Schlüssel</description>
            <description lang="en">Your billie.io API key.</description>
        </element>
        <element type="boolean" scope="locale">
            <name>sandbox</name>
            <label lang="de">API Sandbox</label>
            <label lang="en">API Sandbox</label>
            <value>false</value>
            <description lang="de">Aktivieren des API Sandbox Modus</description>
            <description lang="en">Activate the API Sandbox mode.</description>
        </element>
        <element required="true" type="number" scope="locale">
            <name>duration</name>
            <label lang="de">Dauer</label>
            <label lang="en">Duration</label>
            <value>30</value>
            <options>
                <minValue>0</minValue>
                <maxValue>120</maxValue>
            </options>
        </element>
    </elements>
</config>