<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/menu.xsd"
>
    <entries>
        <entry>
            <name>Billie PaD Overview</name>
            <label lang="en">Billie PaD Overview</label>
            <label lang="de">Billie PaD Übersicht</label>
            <controller>BillieOverview</controller>
            <action>index</action>
            <class>sprite-billie-menu</class>
            <parent identifiedBy="controller">Payments</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("BillieOverview", { "title": "Billie PaD Übersicht" })
            </onclick>
        </entry>
    </entries>
</menu>
